# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
*.log

# Env
.env
.env.local

# OS junk
.DS_Store
Thumbs.db

# IDE/editor
.idea/
.vscode/
*.swp

# Rollup cache
.cache/
